<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>majdoor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Bootstrap Scripts -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style media="screen">
body {

  background-color: #B537F2;
  color: #fff;
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  position:absolute;
  top:210px;
  left:320px;
  font-family:'sacremento',sans-serif;
  font-size: 40px;
  line-height: 1;
  font-size: 80px;
  font-weight: bold;

  text-align: center;
  padding:30% auto 40%;
}
p{
  position: absolute;
  top:310px;
  left: 320px;
  font-size: 20px;
  font-weight: lighter;

}

a{
  position: relative;
  top: 390px;
  margin-left: 10px
}
.btn-light{
  margin-left: 20%;
  margin-right: 80%;
}
.btn-dark{
position:absolute;
top: 53%;
left: 28%;

}

 /* 28CF75 */

</style>
</head>
  <body>
    <section class="colored-section" id="title">

    <div class="container-fluid">

         <h1 id="big-heading">Majdoor</h1>
         <p><i>One Step to fix your requirements.</i></p>
         <a class="btn btn-light btn-lg" href="/app/V1.0/home/signup" role="button">Register</a>
         <a class="btn btn-dark btn-lg" href="/app/V1.0/home/login" role="button">Login</a>

       </div>


  </body>
</html>
