<%- include("../homepartials/headers") %>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->



  <form class="form-signin" action="majdoor/post" autocomplete="new-password" method="post">
<h4 class="h3 mb-3 font-weight-normal"><%= status %></h4>

    <select name="option" class="form-control top">
    <option value="majdoor">Majdoor</option>
    <option value="plumber">Plumber</option>
    <option value="painter">Painter</option>
    <option value="constructionworker">construction worker</option>
  </select>
  <input type="text" name="description" class="form-control middle" placeholder="Job description"  autocomplete="new-password" required>
  <input type="text" name="location" class="form-control bottom" placeholder="Pin code"  autocomplete="new-password" required>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Search</button>
  </form>



</main>
<%- include("../homepartials/footer") %>
