<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" >

    <style>

    .profile {
      margin-top: 10%;
    }
    input{
       width: 30%;
    }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/app/V1.0/majdoor">Majdoor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/app/V1.0/majdoor/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/app/V1.0/majdoor/profile">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/V1.0/majdoor/setting">Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/V1.0/majdoor/logout">Logout</a>
      </li>
  </ul>


  </div>


</nav>
<div class=profile>

  <label for="">Name</label>
   <h4><%=pname%></h4><br>

  <label for="">Phone Number</label>
  <h4><%=pnumber%></h4><br>


  <label for="">Email Address</label>
  <h4><%=pemail%></h4><br>
</div>


  </body>
</html>
